/* elements */
html {
  background-image: url("../assets/images/nightSky.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  color: var(--white);
  text-align: center;
  font-size: 300%;
}

img:hover {
  box-shadow: 0px 0px 15px var(--white);
}

.b-grey {
  background-color: rgb(208, 208, 208);
}
