@import "./normalize.css";
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import "./variables.css";
@import "./background.css";
@import "./typography.css";
@import "./spacing.css";
@import "./buttons.css";
@import "./app.css";

/* media queries */ /* tablet */
@media (max-width: 992px) {
}

/* phone */
@media (max-width: 576px) {
  .mqPh-w15 {
    width: 15%;
  }
  .mqPh-w25 {
    width: 25%;
  }

  .p-absolute-footer {
    position: sticky;
    bottom: 0;
    width: 100%;
  }
}
