/* OO classes  */

.font-reg {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
}

.font-reg-i {
  font-family: "Roboto Condensed", sans-serif;
  font-style: italic;
  font-weight: 400;
}

.font-bold {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}

/* Atomic classes in alpha order */

.c-lavender {
  background-color: var(--lavender);
}

.c-navy {
  color: var(--navy);
}

.c-pink {
  color: var(--pink);
}

.c-rose {
  color: var(--rose);
}

.c-taupe {
  color: var(--taupe);
}

.c-teal {
  color: var(--teal);
}

.l-spacing {
  letter-spacing: 3px;
}

.c-white {
  color: white;
}

.ta-c {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}
